.portfolio {
  padding-top: 88px;
  scroll-margin-top: 60px;
}

.more {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}

@media (min-width: 900px) {
  .portfolio {
    padding-top: 150px;
    scroll-margin-top: 40px;
  }

  .more {
    margin-top: 40px;
  }
}
